@import url(./script.js);

:root {
    --player-position: 0px;
    --player-jump-position : ;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    background-color: rgb(52, 52, 52);
    height: 100vh;
}

#world {
    position: relative;
    background-color: white;
}

#player {
    position: absolute;
    transition: all 250ms ease-out;
}

.jump {
    animation: jump-anim 250ms;
}

@keyframes jump-anim {
    50% {bottom: var(--player-jump-position);}
    100% {bottom: var(--player-position);}
}